.Add_button{
  background-color: rgb(86, 176, 229);
  color: white;
  font-size: 16px;
  border:none;
  padding: 15px 20px;
  /* box-shadow: 5px 10px 18px #6aacd8; */
}
.view_button{
  background-color: rgb(252, 252, 58);
  font-size: 16px;
  color: white;
  padding: 15px 20px;
  border: none;
  box-shadow: 5px 10px 18px #b7bc58;
}